/* impostazioni generali di pagina */

/* NOTE:
background: #fbfafb
rosa: #eb008d
azzurro: #0075eb
grigio scritte: #8b959e */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul li a:hover {
  cursor: pointer;
  color: #000000;
}

a {
  color: #8b959e;
}

#container {
  width: 80%;
  height: 100vh;
  margin: auto;
}

  /* HEADER */

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
  }

  ul {
    list-style-type: none;
  }

  ul a {
    text-decoration: none;
    list-style-type: none;
  }

    /* barra dei piani */

    #piani {
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 30%;
      height: 100%;
    }

    #piani ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    #piani ul li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30%;
      /* border: 1px solid black; /* debug */ */
    }

    .black {
      color: #000000;
    }

    /* barra navigazione */

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 55%;
      height: 100%;
    }

    nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 82%;
      height: 100%;
    }

    nav ul li a, nav div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30%;
      /* border: 1px solid black; /* debug */ */
    }

    #gettheapp {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 18%;
      height: 30%;
      background-color: #eb008d;
      /* border-radius: 20% 50% 20% 20%; */
    }

    #gettheapp a {
      text-decoration: none;
    }

    nav div a {
      color: #ffffff;
    }

    .dropcontent {
      display: none;
    }
