/* impostazioni generali di pagina */

/* NOTE:
background: #fbfafb
rosa: #eb008d
azzurro: #0075eb
grigio scritte: #8b959e */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #8b959e;
}

#container {
  width: 80%;
  height: 100vh;
  margin: auto;
}

  /* HEADER */

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
  }

  ul {
    list-style-type: none;
  }

  ul a {
    text-decoration: none;
    list-style-type: none;
  }

    /* barra dei piani */

    #piani {
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 30%;
      height: 100%;
    }

    #piani ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    #piani ul li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: calc(100% / 3);
      height: 100%;
    }

    /* barra navigazione */

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      height: 100%;
    }

    nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    nav ul li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: calc(100% / 7);
      height: 100%;
    }
